.homepage {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

.heroSection {
  height: 80vh;
  /* background: url("/path-to-your-image.jpg") no-repeat center center/cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.heroContent h1 {
  font-size: 4em;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}

.heroContent p {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin: 20px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.shopNowBtn {
  padding: 15px 30px;
  background-color: #ff5722;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.shopNowBtn:hover {
  background-color: #e64a19;
  transform: translateY(-5px);
}

.featuredProducts {
  padding: 60px 20px;
  background-color: white;
  margin-top: -150px;
}

.featuredProducts h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #333;
}

.productList {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 270px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.productCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.productCard:hover .productImage {
  transform: scale(1.05);
}

.productCard h3 {
  margin: 15px 0 10px;
  font-size: 1.3em;
  color: #333;
}

.productCard p {
  margin: 5px 0;
  color: #777;
}

.addToCartButton,
.detailsButton {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #333;
  padding: 5px;
  transition: color 0.3s;
}

.addToCartButton {
  top: 50px;
  right: -8px;
}

.addToCartButton:hover,
.detailsButton:hover {
  color: #ff5722;
}

.detailsButton {
  top: 10px;
  right: -10px;
}

@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 2.5em;
  }

  .heroContent p {
    font-size: 1.2em;
  }

  .productList {
    flex-direction: column;
  }

  .productCard {
    width: 100%;
    max-width: 400px;
  }
}
