.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 0;
}

.headerLogo a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.headerNav .headerList {
  list-style: none;
  display: flex;
  gap: 25px;
}

.headerNav .navItem a {
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
}

.headerNav .navItem a:hover {
  color: #ff6347;
}

.cartButton {
  color: white;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}
