.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

a {
  color: black;
  text-decoration: none;
}

.loginContainer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(25px);
  width: 100%;
  max-width: 450px;
  border: 2px solid #b5afaf;
  padding: 7.5em 2.5em 4em 2.5em;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  width: 140px;
  background-color: #b5afaf;
  border-radius: 0 0 20px 20px;
  height: 70px;
}

.loginTitle span {
  color: black;
  font-size: 32px;
}

.loginTitle::before {
  content: "";
  top: 0;
  left: -30px;
  position: absolute;
  border-top-right-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 15px 0 0 0 #b5afaf;
  background: transparent;
}

.loginTitle::after {
  content: "";
  top: 0;
  position: absolute;
  height: 30px;
  right: -30px;
  width: 30px;
  background: transparent;
  border-top-left-radius: 50%;
  box-shadow: -15px 0 0 0 #b5afaf;
}

.inputWrapper {
  position: relative;
  flex-direction: column;
  display: flex;
  margin: 20px 0;
}

.inputField {
  width: 100%;
  font-size: 16px;
  height: 55px;
  color: #010101;
  background: transparent;
  padding-inline: 20px 54px;
  border-radius: 30px;
  border: 2px solid #b5afaf;
  outline: none;
}

.label {
  position: absolute;
  transition: 0.2s;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #aaa;
  transition: 0.2s ease all;
}

.inputField:focus ~ .label,
.inputField:not(:placeholder-shown) ~ .label {
  font-size: 14px;
  top: -10px;
  left: 20px;
  background-color: #b5afaf;
  color: #020101;
  border-radius: 30px;
  padding: 0 10px;
}

i {
  position: absolute;
  font-size: 20px;
  top: 18px;
  right: 25px;
}

.loginBtn {
  background: #ff5722;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  transition: 0.3s;
}

.loginBtn:hover {
  background: #e64a19;
}

.singUp {
  text-align: center;
}

.singUp a {
  color: #ff5722;
  font-weight: 500;
}

.singUp a:hover {
  color: #e64a19;
}
